<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator/>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
	<springProperty scope="context" name="appname" source="logback.appname"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	   <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}.%M - %msg%n</pattern>
        </encoder>
	</appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>